[submodule "themes/blank"]
	path = themes/blank
	url = https://github.com/vimux/blank
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
